apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "documenso.fullname" . }}-create-cert
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "10"
spec:
  ttlSecondsAfterFinished: 100
  template:
    spec:
      volumes:
        - name: {{ .Values.persistence.data.name }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.data.name }}
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: cert-gen
          image: alpine/openssl:3.5.4
          command: 
          - |
            /bin/sh -c "
            openssl req -newkey rsa:4096 -keyout myKey.pem -out myCSR.csr -nodes -subj "/CN=${DOMAIN}"
            openssl x509 -signkey myKey.pem -in myCSR.csr -req -days 365 -out cert.pem
            openssl pkcs12 -export -out cert.p12 -inkey myKey.pem -in cert.pem -password pass:"${NEXT_PRIVATE_SIGNING_PASSPHRASE}" -legacy

            chmod 777 ./cert.p12
            mv ./cert.p12 /opt/documenso/
            "
          volumeMounts:
            - name:  {{ .Values.persistence.data.name }}
              mountPath: /opt/documenso
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: DOMAIN
              value: {{ .Values.config.baseUrl | trimPrefix "https://" | trimPrefix "http://" }}
          envFrom:
          {{- if .Values.secret.create }}
            - secretRef:
                name: {{ include "documenso.fullname" . }}-secret
          {{- end }}
          {{- if .Values.existingSecret }}
            - secretRef:
                name: {{ .Values.existingSecret }}
          {{- end }}

      restartPolicy: Never
