{{- if .Values.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "documenso.fullname" . }}-secret
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
type: Opaque
stringData:
  NEXTAUTH_SECRET: {{ if .Values.secret.NEXTAUTH_SECRET }}{{ .Values.secret.NEXTAUTH_SECRET }}{{ else }}{{ randAlphaNum 32 }}{{ end }}
  NEXT_PRIVATE_ENCRYPTION_KEY: {{ if .Values.secret.NEXT_PRIVATE_ENCRYPTION_KEY }}{{ .Values.secret.NEXT_PRIVATE_ENCRYPTION_KEY }}{{ else }}{{ randAlphaNum 64 }}{{ end }}
  NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY: {{ if .Values.secret.NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY }}{{ .Values.secret.NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY }}{{ else }}{{ randAlphaNum 64 }}{{ end }}
  NEXT_PRIVATE_SIGNING_PASSPHRASE: {{ if .Values.secret.NEXT_PRIVATE_SIGNING_PASSPHRASE }}{{ .Values.secret.NEXT_PRIVATE_SIGNING_PASSPHRASE }}{{ else }}{{ randAlphaNum 64 }}{{ end }}
  {{- if .Values.secret.NEXT_PRIVATE_GOOGLE_CLIENT_ID }}
  NEXT_PRIVATE_GOOGLE_CLIENT_ID: {{ .Values.secret.NEXT_PRIVATE_GOOGLE_CLIENT_ID | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_GOOGLE_CLIENT_SECRET }}
  NEXT_PRIVATE_GOOGLE_CLIENT_SECRET: {{ .Values.secret.NEXT_PRIVATE_GOOGLE_CLIENT_SECRET | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PUBLIC_WEBAPP_URL }}
  NEXT_PUBLIC_WEBAPP_URL: {{ .Values.config.baseUrl | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_INTERNAL_WEBAPP_URL }}
  NEXT_PRIVATE_INTERNAL_WEBAPP_URL: {{ .Values.secret.NEXT_PRIVATE_INTERNAL_WEBAPP_URL | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_DATABASE_URL }}
  NEXT_PRIVATE_DATABASE_URL: {{ .Values.secret.NEXT_PRIVATE_DATABASE_URL | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_DIRECT_DATABASE_URL }}
  NEXT_PRIVATE_DIRECT_DATABASE_URL: {{ .Values.secret.NEXT_PRIVATE_DIRECT_DATABASE_URL | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PUBLIC_UPLOAD_TRANSPORT }}
  NEXT_PUBLIC_UPLOAD_TRANSPORT: {{ .Values.secret.NEXT_PUBLIC_UPLOAD_TRANSPORT | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_UPLOAD_ENDPOINT }}
  NEXT_PRIVATE_UPLOAD_ENDPOINT: {{ .Values.secret.NEXT_PRIVATE_UPLOAD_ENDPOINT | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_UPLOAD_FORCE_PATH_STYLE }}
  NEXT_PRIVATE_UPLOAD_FORCE_PATH_STYLE: {{ .Values.secret.NEXT_PRIVATE_UPLOAD_FORCE_PATH_STYLE | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_UPLOAD_REGION }}
  NEXT_PRIVATE_UPLOAD_REGION: {{ .Values.secret.NEXT_PRIVATE_UPLOAD_REGION | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_UPLOAD_BUCKET }}
  NEXT_PRIVATE_UPLOAD_BUCKET: {{ .Values.secret.NEXT_PRIVATE_UPLOAD_BUCKET | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_UPLOAD_ACCESS_KEY_ID }}
  NEXT_PRIVATE_UPLOAD_ACCESS_KEY_ID: {{ .Values.secret.NEXT_PRIVATE_UPLOAD_ACCESS_KEY_ID | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_UPLOAD_SECRET_ACCESS_KEY }}
  NEXT_PRIVATE_UPLOAD_SECRET_ACCESS_KEY: {{ .Values.secret.NEXT_PRIVATE_UPLOAD_SECRET_ACCESS_KEY | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_TRANSPORT }}
  NEXT_PRIVATE_SMTP_TRANSPORT: {{ .Values.secret.NEXT_PRIVATE_SMTP_TRANSPORT | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_HOST }}
  NEXT_PRIVATE_SMTP_HOST: {{ .Values.secret.NEXT_PRIVATE_SMTP_HOST | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_PORT }}
  NEXT_PRIVATE_SMTP_PORT: {{ .Values.secret.NEXT_PRIVATE_SMTP_PORT | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_USERNAME }}
  NEXT_PRIVATE_SMTP_USERNAME: {{ .Values.secret.NEXT_PRIVATE_SMTP_USERNAME | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_PASSWORD }}
  NEXT_PRIVATE_SMTP_PASSWORD: {{ .Values.secret.NEXT_PRIVATE_SMTP_PASSWORD | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_APIKEY_USER }}
  NEXT_PRIVATE_SMTP_APIKEY_USER: {{ .Values.secret.NEXT_PRIVATE_SMTP_APIKEY_USER | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_APIKEY }}
  NEXT_PRIVATE_SMTP_APIKEY: {{ .Values.secret.NEXT_PRIVATE_SMTP_APIKEY | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_SECURE }}
  NEXT_PRIVATE_SMTP_SECURE: {{ .Values.secret.NEXT_PRIVATE_SMTP_SECURE | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_UNSAFE_IGNORE_TLS }}
  NEXT_PRIVATE_SMTP_UNSAFE_IGNORE_TLS: {{ .Values.secret.NEXT_PRIVATE_SMTP_UNSAFE_IGNORE_TLS | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_FROM_NAME }}
  NEXT_PRIVATE_SMTP_FROM_NAME: {{ .Values.secret.NEXT_PRIVATE_SMTP_FROM_NAME | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_FROM_ADDRESS }}
  NEXT_PRIVATE_SMTP_FROM_ADDRESS: {{ .Values.secret.NEXT_PRIVATE_SMTP_FROM_ADDRESS | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SMTP_SERVICE }}
  NEXT_PRIVATE_SMTP_SERVICE: {{ .Values.secret.NEXT_PRIVATE_SMTP_SERVICE | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_RESEND_API_KEY }}
  NEXT_PRIVATE_RESEND_API_KEY: {{ .Values.secret.NEXT_PRIVATE_RESEND_API_KEY | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_MAILCHANNELS_API_KEY }}
  NEXT_PRIVATE_MAILCHANNELS_API_KEY: {{ .Values.secret.NEXT_PRIVATE_MAILCHANNELS_API_KEY | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_MAILCHANNELS_ENDPOINT }}
  NEXT_PRIVATE_MAILCHANNELS_ENDPOINT: {{ .Values.secret.NEXT_PRIVATE_MAILCHANNELS_ENDPOINT | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_MAILCHANNELS_DKIM_DOMAIN }}
  NEXT_PRIVATE_MAILCHANNELS_DKIM_DOMAIN: {{ .Values.secret.NEXT_PRIVATE_MAILCHANNELS_DKIM_DOMAIN | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_MAILCHANNELS_DKIM_SELECTOR }}
  NEXT_PRIVATE_MAILCHANNELS_DKIM_SELECTOR: {{ .Values.secret.NEXT_PRIVATE_MAILCHANNELS_DKIM_SELECTOR | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_MAILCHANNELS_DKIM_PRIVATE_KEY }}
  NEXT_PRIVATE_MAILCHANNELS_DKIM_PRIVATE_KEY: {{ .Values.secret.NEXT_PRIVATE_MAILCHANNELS_DKIM_PRIVATE_KEY | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PUBLIC_DOCUMENT_SIZE_UPLOAD_LIMIT }}
  NEXT_PUBLIC_DOCUMENT_SIZE_UPLOAD_LIMIT: {{ .Values.secret.NEXT_PUBLIC_DOCUMENT_SIZE_UPLOAD_LIMIT | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PUBLIC_POSTHOG_KEY }}
  NEXT_PUBLIC_POSTHOG_KEY: {{ .Values.secret.NEXT_PUBLIC_POSTHOG_KEY | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PUBLIC_DISABLE_SIGNUP }}
  NEXT_PUBLIC_DISABLE_SIGNUP: {{ .Values.secret.NEXT_PUBLIC_DISABLE_SIGNUP | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_SIGNING_LOCAL_FILE_PATH }}
  NEXT_PRIVATE_SIGNING_LOCAL_FILE_PATH: {{ .Values.secret.NEXT_PRIVATE_SIGNING_LOCAL_FILE_PATH | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PUBLIC_USE_INTERNAL_URL_BROWSERLESS }}
  NEXT_PUBLIC_USE_INTERNAL_URL_BROWSERLESS: {{ .Values.secret.NEXT_PUBLIC_USE_INTERNAL_URL_BROWSERLESS | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_OIDC_WELL_KNOWN }}
  NEXT_PRIVATE_OIDC_WELL_KNOWN: {{ .Values.secret.NEXT_PRIVATE_OIDC_WELL_KNOWN | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_OIDC_CLIENT_ID }}
  NEXT_PRIVATE_OIDC_CLIENT_ID: {{ .Values.secret.NEXT_PRIVATE_OIDC_CLIENT_ID | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_OIDC_CLIENT_SECRET }}
  NEXT_PRIVATE_OIDC_CLIENT_SECRET: {{ .Values.secret.NEXT_PRIVATE_OIDC_CLIENT_SECRET | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_OIDC_PROVIDER_LABEL }}
  NEXT_PRIVATE_OIDC_PROVIDER_LABEL: {{ .Values.secret.NEXT_PRIVATE_OIDC_PROVIDER_LABEL | quote }}
  {{- end }}
  {{- if .Values.secret.NEXT_PRIVATE_OIDC_SKIP_VERIFY }}
  NEXT_PRIVATE_OIDC_SKIP_VERIFY: {{ .Values.secret.NEXT_PRIVATE_OIDC_SKIP_VERIFY | quote }}
  {{- end }}
  {{- if .Values.secret.DOCUMENSO_DISABLE_TELEMETRY }}
  DOCUMENSO_DISABLE_TELEMETRY: {{ .Values.secret.DOCUMENSO_DISABLE_TELEMETRY | quote }}
  {{- end }}
{{- end }}
