{{- if .Values.secret.createKeys }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "documenso.fullname" . }}-secret-keys
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-10"
    "helm.sh/resource-policy": keep
type: Opaque
stringData:
  NEXTAUTH_SECRET: {{ if .Values.secret.NEXTAUTH_SECRET }}{{ .Values.secret.NEXTAUTH_SECRET }}{{ else }}{{ randAlphaNum 32 }}{{ end }}
  NEXT_PRIVATE_ENCRYPTION_KEY: {{ if .Values.secret.NEXT_PRIVATE_ENCRYPTION_KEY }}{{ .Values.secret.NEXT_PRIVATE_ENCRYPTION_KEY }}{{ else }}{{ randAlphaNum 64 }}{{ end }}
  NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY: {{ if .Values.secret.NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY }}{{ .Values.secret.NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY }}{{ else }}{{ randAlphaNum 64 }}{{ end }}
  NEXT_PRIVATE_SIGNING_PASSPHRASE: {{ if .Values.secret.NEXT_PRIVATE_SIGNING_PASSPHRASE }}{{ .Values.secret.NEXT_PRIVATE_SIGNING_PASSPHRASE }}{{ else }}{{ randAlphaNum 64 }}{{ end }}
{{- end }}
