replicaCount: 1

image:
  repository: calcom/cal.com
  pullPolicy: IfNotPresent
  tag: v5.0.19

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

secretRef: "calcom"

calcom:
  baseUrl: https://cal.example.org
  appName: Cal.com
  companyName: ""
  # websiteUrl: https://www.example.org
  hostnames:
    - cal.example.org
  webappUrl: https://cal.example.org
  licenseKey: 00000000-0000-0000-0000-000000000000
  telemetryDisabled: true

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: cal.example.org
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

secret:
  createKeys: true

postgres:
  create: true
  name: calcom-postgres
  instances: 1
  major: 18
  storage:
    size: 4Gi
    storageClass: ""
  enablePodMonitor: true
