{{- if .Values.secret.createKeys }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "calcom.fullname" . }}-secret-keys
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-10"
    "helm.sh/resource-policy": keep
type: Opaque
stringData:
  NEXTAUTH_SECRET: {{ if .Values.secret.NEXTAUTH_SECRET }}{{ .Values.secret.NEXTAUTH_SECRET }}{{ else }}{{ randAlphaNum 32 | b64enc | quote }}{{ end }}
  CALENDSO_ENCRYPTION_KEY: {{ if .Values.secret.CALENDSO_ENCRYPTION_KEY }}{{ .Values.secret.CALENDSO_ENCRYPTION_KEY }}{{ else }}{{ randAlphaNum 24 | b64enc | quote }}{{ end }}
{{- end }}
